* {
  margin: 0;
  padding: 0;
}

.header {
  background: rgb(255, 58, 23);
  color: white;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemons {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1em;
}

.pokemon {
  padding-bottom: 1em;
  margin: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  background-color: transparent;
  perspective: 1000px;
}

.pokemon-inner {
  /* position: relative; */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pokemon:hover .pokemon-inner {
  transform: rotateY(180deg);
}

.pokemon-front, .pokemon-back {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.pokemon-back {
  transform: rotateY(180deg);
}

.name {
  margin-top: 0.3em;
  margin-left: 1em;
}

.id {
  margin-left: 1em;
}

.list {
  padding-left: 2em;
}

.image {
  width: 10em;
  background: rgb(231, 231, 231);
  
}